__pycache__
AndroidDataPrivacy/__pycache__
AndroidDataPrivacy/Applications/__pycache__
stream.txt
capture.txt
capturefixed.txt
backup.txt
newflows.txt
push.bat
push.sh
pull.sh
searchitems.txt
clearBackupData.sh
